Repository JoC0de/UnityVisualStudioSolutionGenerator: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-byte-order-marker, resharper-cleanupcode-changed

remove-byte-order-marker:
  name: Remove UTF8-bom
  entry: python ./tools/remove-byte-order-marker.py
  language: system
  pass_filenames: true

resharper-cleanupcode-changed:
  name: ReSharper Code Cleanup (only changed)
  entry: python ./tools/resharper-cleanupcode.py
  language: system
  pass_filenames: true
  require_serial: true
  stages:
  - commit
  - merge-commit

delete csproj.meta
  src/UnityVisualStudioSolutionGenerator/.gitignore
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/UnityVisualStudioSolutionGenerator.csproj.meta
Due: none

specify dependencies + add LICENSE.md to package content
  src/UnityVisualStudioSolutionGenerator/Assets/LICENSE.md
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

add open Solution menu + move SDK Import below PropertyGroup + fix missing .meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/LICENSE.md.meta
Due: remove-byte-order-marker, resharper-cleanupcode-changed

add github action + fix solution file parser
  .github/actions/checkout/action.yml
  .github/workflows/main.yml
  src/UnityVisualStudioSolutionGenerator.Tests/.gitignore
  src/UnityVisualStudioSolutionGenerator.Tests/.vsconfig
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileParserTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileParserTest.cs.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.asmdef
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.asmdef.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Scenes.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Scenes/SampleScene.unity
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Scenes/SampleScene.unity.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator.Tests/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/AudioManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/ClusterInputManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/DynamicsManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/EditorBuildSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/EditorSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/GraphicsSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/InputManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/MemorySettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/NavMeshAreas.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/PackageManagerSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Physics2DSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/PresetManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/ProjectSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/ProjectVersion.txt
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/QualitySettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/SceneTemplateSettings.json
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/TagManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/TimeManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/UnityConnectSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/VFXManager.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/VersionControlSettings.asset
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/XRSettings.asset
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

add unity activation workflow
  .github/workflows/activation.yml
Due: remove-byte-order-marker

document code + fix Test on CI + disable menu item if package is disabled
  .github/workflows/main.yml
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileParserTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.asmdef
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiExcludedAnalyzers.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiListHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkAdditionalProperties.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiVisualStudioEditorIntegration.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  tools/resharper-cleanupcode.py
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Add Dependabot for GitHub Actions
  .github/dependabot.yml
Due: remove-byte-order-marker

change tests to not require a visual studio instalation
  .github/workflows/activation.yml
  .github/workflows/main.yml
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileParserTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs.meta
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.asmdef
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix test on linux
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix path separator in test on linux
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

document code + fix tests (#3)
  .github/workflows/activation.yml
  .github/workflows/main.yml
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileParserTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiExcludedAnalyzers.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiListHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkAdditionalProperties.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiVisualStudioEditorIntegration.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  tools/resharper-cleanupcode.py
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update documentation
  README.md
Due: none

update documentation with Note
  README.md
Due: none

fix documentation
  README.md
Due: none

fix detection of PackageCache projects + run project generation only if all projects are created + change exluded files setting name to be more clear + configure resharper with .DotSettings
  src/UnityVisualStudioSolutionGenerator.Tests/UnityVisualStudioSolutionGenerator.Tests.sln.DotSettings
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/LogHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix: Failed to generate csproj errors for embedded packages (#6)
  src/UnityVisualStudioSolutionGenerator.Tests/UnityVisualStudioSolutionGenerator.Tests.sln.DotSettings
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/LogHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Create new Release with correct version number in package.json
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

Create new Release with correct version number in package.json (#9)
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

Add enable nullable in all files menue item
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/.editorconfig
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs.meta
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFile.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

add file watcher that ensures nullable pragma and deletes .cs.meta + fix .sln reload issue
  src/GlobalShared.DotSettings
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update to version 1.0.3
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

enable nullable analysis + file watcher + intercept generation (#10)
  src/GlobalShared.DotSettings
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/.editorconfig
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs.meta
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorLegacyStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFile.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

generate .csproj.DotSettings files per project + move configuration to namespace
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.csproj.DotSettings
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.csproj.DotSettings.meta
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiExcludedAnalyzers.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiListHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkAdditionalProperties.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiVisualStudioEditorIntegration.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/LogHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/UnityVisualStudioSolutionGenerator.csproj.DotSettings
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/UnityVisualStudioSolutionGenerator.csproj.DotSettings.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update version to 1.0.4
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

generate .csproj.DotSettings files per project (#13)
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.csproj.DotSettings
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/UnityVisualStudioSolutionGenerator.Tests.csproj.DotSettings.meta
  src/UnityVisualStudioSolutionGenerator.Tests/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsValue.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/PropertyGroupSetting.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiExcludedAnalyzers.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiListHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkAdditionalProperties.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiSdkExcludedFilePatterns.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiVisualStudioEditorIntegration.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/LogHelper.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/UnityVisualStudioSolutionGenerator.csproj.DotSettings
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/UnityVisualStudioSolutionGenerator.csproj.DotSettings.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Bump game-ci/unity-test-runner from 3.0.0 to 3.1.0 (#12) (#14)
  .github/workflows/main.yml
Due: remove-byte-order-marker

only include folder with own source code inside ReSharper config
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Only include folder with own source code inside ReSharper config (#15)
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix excluding sub-project directories
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update version to 1.0.6
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker

Fix: Change ReSharper settings generation (#16)
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

add badges
  README.md
Due: none

add badges to Readme (#17)
  README.md
Due: none

fix ProjectSourceCodeWatcherManager with non existing .sln and disabled Visual Studio Editor
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

change version to 1.0.7
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

fix duplicate project file in .sln + fast path for project root detection + ensure to always regenerate the .sln
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix test
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Path conditions:
  remove-byte-order-marker: any of: \.(cs|yaml|yml|json)$, but not: ^.git$|/ProjectSettings/Packages/
  resharper-cleanupcode-changed: any of: \.cs$, but not: ^.git$|/ProjectSettings/Packages/
