Repository JoC0de/UnityVisualStudioSolutionGenerator: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-byte-order-marker, resharper-cleanupcode-changed

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^.git$|/ProjectSettings/Packages/"
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: "prettier"
        additional_dependencies:
          - prettier@v3.0.2
          - "@prettier/plugin-xml@3.2.0"
          - prettier-plugin-ini@v1.1.0
        args:
          # change back to --plugin=@prettier/plugin-xml and --plugin=prettier-plugin-ini if https://github.com/prettier/prettier/issues/15141 is fixed
          # or try using .prettierrc.cjs see: https://github.com/scverse/scverse.github.io/pull/109/files
          - --plugin=file://%NODE_VIRTUAL_ENV%/Scripts/node_modules/@prettier/plugin-xml/src/plugin.js
          - --plugin=file://%NODE_VIRTUAL_ENV%/Scripts/node_modules/prettier-plugin-ini/dist/plugin.js
        files: Directory\.Build\.props$|(\.(json|xml|html|config|csproj|DotSettings|yaml|yml|js|md|xrml|xaml|css|editorconfig)$)
  - repo: local
    hooks:
      - id: remove-byte-order-marker
        name: Remove UTF8-bom
        entry: python ./tools/remove-byte-order-marker.py
        language: system
        files: \.(cs|yaml|yml|json)$
        pass_filenames: true
      - id: resharper-cleanupcode-all
        name: ReSharper Code Cleanup (all files)
        entry: python ./tools/resharper-cleanupcode.py
        language: system
        pass_filenames: false
        require_serial: true
        stages: [manual]
      - id: resharper-cleanupcode-changed
        name: ReSharper Code Cleanup (only changed)
        entry: python ./tools/resharper-cleanupcode.py
        language: system
        files: \.cs$
        pass_filenames: true
        require_serial: true
        stages: [commit, merge-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(pdf|meta|prefab|shader|controller|asset|cginc|mat|unity|anim|shadergraph)$
      - id: end-of-file-fixer
        exclude: \.(asmdef|pdf|meta|prefab|shader|controller|asset|cginc|mat|unity|anim|shadergraph)$
      - id: check-merge-conflict

fix ReSharper settings generation condition (#18)
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SolutionFileTest.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectSourceCodeWatcherManager.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ReSharperProjectSettingsGenerator.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFileWatcher.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Add UPM update action
  .github/actions/update-upm-packages/action.yml
  .github/actions/update-upm-packages/update-upm-packages.ps1
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

fix schedule
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

Try env for path
  .github/actions/update-upm-packages/action.yml
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

fix project path is string
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

debug git result
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

create GH issue if update available
  .github/actions/update-upm-packages/action.yml
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

fix github token usage
  .github/actions/update-upm-packages/action.yml
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

Change Issue body
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

change new line
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

use pwsh
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

fix quoting
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

fix new line in git-diff
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

missing quotes
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

Use body file
  .github/actions/update-upm-packages/action.yml
Due: remove-byte-order-marker

update com.unity.ide.visualstudio
  .github/workflows/update-upm-packages.yml
  src/UnityVisualStudioSolutionGenerator.Tests/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
Due: remove-byte-order-marker

UPM update check using GitHub action (#26)
  .github/actions/update-upm-packages/action.yml
  .github/actions/update-upm-packages/update-upm-packages.ps1
  .github/workflows/update-upm-packages.yml
  src/UnityVisualStudioSolutionGenerator.Tests/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
Due: remove-byte-order-marker

don't recreate solution if nothing changed
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Bump actions/checkout from 3 to 4
  .github/actions/checkout/action.yml
Due: remove-byte-order-marker

fix slow open of documents (#28)
  .github/actions/checkout/action.yml
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

Bump actions/checkout from 3 to 4
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

Bump actions/checkout from 3 to 4 (#29)
  .github/workflows/update-upm-packages.yml
Due: remove-byte-order-marker

only generate .sln on session start + fix nullable-adding BOM handeling
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

remove dublicat test case
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

change version number to 1.0.9
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

only generate .sln on session start + fix nullable-adding BOM handling (#30)
  src/UnityVisualStudioSolutionGenerator.Tests/Assets/Editor/Tests/SourceCodeFilesHandlerTest.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/MenuItemProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorBase.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SourceCodeFilesHandler.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

allow including projects from additional visual studio soltuions + ensure update when target platform changed + update visual studio plugin
  .config/dotnet-tools.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedSolutions.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedSolutions.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update version to 1.0.10
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

allow including projects from additional visual studio solutions (#33)
  .config/dotnet-tools.json
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedSolutions.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedSolutions.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix regenerate when changing target platform
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

prevent dublicate project files even when only the file name is the same
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update version to 1.0.11
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

fix duplicates projects and target platform change reload (#34)
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileParser.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFileWriter.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update versions of used github actions
  .github/actions/checkout/action.yml
  .github/workflows/activation.yml
  .github/workflows/main.yml
Due: remove-byte-order-marker

update versions of used github actions (#40)
  .github/actions/checkout/action.yml
  .github/workflows/activation.yml
  .github/workflows/main.yml
Due: remove-byte-order-marker

allow configureing additionally includen .csproj files + fix error on non existing additional project file
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedProjectFiles.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedProjectFiles.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/MultiplayerManager.asset
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/ProjectVersion.txt
Due: remove-byte-order-marker, resharper-cleanupcode-changed

additionally included .csproj files config (#39)
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettings.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedProjectFiles.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/SettingsUiAdditionalIncludedProjectFiles.cs.meta
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
  src/UnityVisualStudioSolutionGenerator/Packages/manifest.json
  src/UnityVisualStudioSolutionGenerator/Packages/packages-lock.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/MultiplayerManager.asset
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/UnityVisualStudioSolutionGenerator/ProjectSettings/ProjectVersion.txt
Due: remove-byte-order-marker, resharper-cleanupcode-changed

fix generator when switching plattform + fix dublicate property group in generated .csproj
  .config/dotnet-tools.json
  src/TestProjects/RootTestProject/Packages/manifest.json
  src/TestProjects/RootTestProject/Packages/packages-lock.json
  src/TestProjects/RootTestProject/ProjectSettings/MultiplayerManager.asset
  src/TestProjects/RootTestProject/ProjectSettings/Packages/com.github-joc0de.visual-studio-solution-generator/Settings.json
  src/TestProjects/RootTestProject/ProjectSettings/ProjectSettings.asset
  src/TestProjects/RootTestProject/ProjectSettings/ProjectVersion.txt
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/Configuration/GeneratorSettingsProvider.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/ProjectFileGeneratorSdkStyle.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/SolutionFile.cs
  src/UnityVisualStudioSolutionGenerator/Assets/Editor/VisualStudioAssetPostprocessor.cs
Due: remove-byte-order-marker, resharper-cleanupcode-changed

update version to 1.0.13
  src/UnityVisualStudioSolutionGenerator/Assets/package.json
Due: remove-byte-order-marker

fix upm update action
  .github/actions/update-upm-packages/update-upm-packages.ps1
Due: none
